<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
      <link href="http://music.artelx.ru/favicon.ico" type="image/x-icon" rel="shortcut icon">
      <link rel="stylesheet" href="http://music.artelx.ru/assets/templates/music/css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
  <div class="wrapper">
      <!-- Header_wr -->
      <div class="header_wr">
          <a href="http://music.artelx.ru/"><span>Песенник</span></a>
          <div class="search_wr">Поиск</div>
      </div><!-- .header_wr-->
