<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
      <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
  </head>
  <body>
  <div class="wrapper">
      <!-- Header_wr -->
      <div class="header_wr">
          <a href="/"><span>Песенник</span></a>
          <div class="search_wr">Поиск</div>
      </div><!-- .header_wr-->
