<div class="leftcol_wr">
    <div class="sidebar_block">
        <h3>Каталог песен</h3>
        <ul>
            {{ range .Site.Menus.main }}
            <li>
                <a class="sidebar-nav-item]" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="sidebar_block">
        <h3>Каталог песен</h3>

        {{ with .Site.Taxonomies.categories }}
        <ul>
        {{ range $key, $value := . }}
            <li>
                <a href="{{ "/categories/" | relLangURL  }}{{ $key | urlize }}" class="list_title">{{ $key }}</a> <span class="list_author">({{ .Count }})</span>
            </li>
        {{ end }}
        </ul>
        {{ end }}
    </div>

    <div class="sidebar_block">
        <h3>По авторам</h3>

        {{ with .Site.Taxonomies.authors }}
        <ul>
        {{ range $key, $value := . }}
            <li>
                <a href="{{ "/authors/" | relLangURL  }}{{ $key | urlize }}" class="list_title">{{ $key }}</a> <span class="list_author">({{ .Count }})</span>
            </li>
        {{ end }}
        </ul>
        {{ end }}

    </div>

    <div class="sidebar_block">
        <h3>Случайные песни</h3>

        <div class="songs_list list_rand">
            <ul>
                {{ $randomPosts := shuffle (where .Site.Pages "Type" "post") | first 10 }}
                {{ range $randomPosts }}
                <li>
                    <a href="{{ .Permalink }}" class="list_title">{{ .Title }}</a>
                    {{if .Params.authors }}
                    {{range .Params.authors }}<a href="{{ "/authors/" | relLangURL }}{{ . | urlize }}" class="list_author">({{ . }})</a>{{end}}
                    {{end}}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>

    <div class="sidebar_block">
        <h3>Песни по тегам</h3>
        {{ with .Site.Taxonomies.tags }}
        <ul>
            {{ range $key, $value := . }}
            <li><a href="{{ "/tags/" | relLangURL  }}{{ $key | urlize }}">{{ $key }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>