<div class="leftcol_wr">
    <div class="sidebar_block">
        <h3>Каталог песен</h3>
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}">
                        <span>{{ .Name }}</span>
                        <ul class="sub-menu">
                            {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </a>
                </li>
                {{ else }}
                <li>
                    <a href="{{ .URL }}">
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>

    <div class="sidebar_block">
        <h3>Случайные песни</h3>

        <div class="songs_list list_rand">
            <ul>
                {{ $randomPosts := shuffle (where .Site.Pages "Kind" "page" ) | first 10 }}
                {{ range $randomPosts }}
                <li>
                    <a href="{{ .Permalink }}" class="list_title">{{ .Title }}</a>
                    {{if .Params.authors }}
                    {{range .Params.authors }}<a href="{{ "/authors/" | relLangURL }}{{ . | urlize }}" class="list_author">({{ . }})</a>{{end}}
                    {{end}}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>

    <div class="sidebar_block">
        <h3>Песни по тегам</h3>
        {{ with .Site.Taxonomies.tags }}
        <ul>
            {{ range $key, $value := . }}
            <li><a href="{{ "/tags/" | relLangURL  }}{{ $key | urlize }}">{{ $key }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
