<div class="leftcol_wr">
    <div class="sidebar_block">
        <h3>Каталог песен</h3>
        <ul><li class="first active"><a href="katalog-pesen/bardyi/" title="Барды, менестрели" >Барды, менестрели</a><ul><li class="first"><a href="katalog-pesen/bardyi/belaya-gvardiya/" title="Белая гвардия" >Белая гвардия</a></li>
            <li><a href="katalog-pesen/bardyi/vizbor-yurij/" title="Визбор Юрий" >Визбор Юрий</a></li>
            <li><a href="katalog-pesen/bardyi/natalya-gurevich/" title="Гуревич Наталья" >Гуревич Наталья</a></li>
            <li><a href="katalog-pesen/bardyi/duet-«metro»/" title="Дуэт «Метро»" >Дуэт «Метро»</a></li>
        </ul></li>
            <li><a href="katalog-pesen/rokeryi/" title="Рокеры" >Рокеры</a><ul><li class="first"><a href="katalog-pesen/rokeryi/foreigner/" title="Foreigner" >Foreigner</a></li>
                <li><a href="katalog-pesen/rokeryi/akvarium/" title="Аквариум" >Аквариум</a></li>
                <li><a href="katalog-pesen/rokeryi/alisa/" title="Алиса" >Алиса</a></li>
            </ul></li>
            <li class="last"><a href="katalog-pesen/filmyi/" title="Фильмы" >Фильмы</a></li>
        </ul>
    </div>
    <div class="sidebar_block">
        <h3>Случайные песни</h3>
        <div class="songs_list list_rand">
            <ul>
                <li><a href="katalog-pesen/bardyi/vizbor-yurij/milaya-moya.html">Милая моя</a> <a href="katalog-pesen/bardyi/vizbor-yurij/" class="list_author">(Визбор Юрий)</a></li>
                <li><a href="katalog-pesen/rokeryi/chizh-i-co/myishka.html">Мышка</a> <a href="katalog-pesen/rokeryi/chizh-i-co/" class="list_author">(Чиж & Co)</a></li>
                <li><a href="katalog-pesen/rokeryi/chizh-i-co/o-lyubvi.html">О любви</a> <a href="katalog-pesen/rokeryi/chizh-i-co/" class="list_author">(Чиж & Co)</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar_block">
        <h3>Песни по тегам</h3>
        <div class="songs_list list_rand">
            <ul>
                <li class="tl-tag tl-tag-weight5"><a href="tegi/?tag=%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%BE%D0%BA&amp;key=tags">Русский рок</a> (22)</li>
                <li class="tl-tag tl-tag-alt tl-tag-weight3"><a href="tegi/?tag=%D0%94%D0%94%D0%A2&amp;key=tags">ДДТ</a> (12)</li>
            </ul>
        </div>
    </div>
</div>