<li class="list-item">
	<h2 class="item-title">
		<a href="{{ .RelPermalink }}" class="item-link">
			{{ .Title }}
		</a>
	</h2>
	{{ if .Params.authors }}
		<div class="tags">
			{{range .Params.authors}}<span class="tag">{{ . }}</span>{{end}}
		</div>
	{{end}}
	<!--
	{{ if .Params.authors }}<div class="tags"><strong>Автор:</strong> {{range .Params.authors}}<a href="{{ "/authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>{{end}}
	{{ if .Params.tags }}<div class="tags"><strong>Теги:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>{{end}}
	{{ if .Params.categories }}<div class="tags"><strong>Категории:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>{{end}}
	-->
</li>
