{{ define "main" }}
  <h1>{{.Title}}</h1>
<!--
  {{if .Params.authors}}
  <div class="tags_wr">
    <span class="tags">{{range .Params.authors}}
      <a href="{{ "/authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
    </span>
  </div>
  {{end}}
-->
  <div class="page_content song">
    {{ if .Params.youtube}}
      <div class="video">
        <iframe width="560" height="315" src="{{.Params.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {{end}}
    {{ .Content }}
    {{ if .Params.chords}}
    <div class="chords">
      {{range .Params.chords}}
      <span class="{{ . }} chord"></span>
      {{end}}
    </div>
    {{end}}
  </div>
<!--
  {{ if .Params.tags }}
  <div class="tags_wr">
    <span class="tags">Теги:
        {{range .Params.tags}}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
    </span>
  </div>
  {{end}}

  {{ if .Params.categories }}
  <div class="tags_wr">
    <span class="tags">Категории:
        {{range .Params.categories}}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
    </span>
  </div>
  {{end}}
-->
{{ end }}
