{{ partial "header" . }}

<div class="middle_wr">
    <div class="container_wr">
        <div class="content_wr">
            <h1>{{.Title}}</h1>

            <div class="page_content song">
      {{ .Content }}
            </div>
        <div class="tags_wr">
        <span class="tags">Теги:
            <!--<a href="#" class="tl-tag">Фолк</a>-->
            {{.Params.tags}}
        </span>
        </div>
            {{.Params.categories}}
    </div>
  </div>

{{ partial "sidebar" . }}

</div>

{{ partial "footer" . }}